.imagen{
	padding-left: 15px;
}

.titulo{
	margin-top: 0;
	margin-bottom: 20px
}

body > div:nth-child(3) > div.col-lg-9 > div.right > button > a{
	text-decoration: none;
	color: #FFFFFF;
}

.panel-est{
	max-height: 900px;
}

.right{
	text-align: right;
}

.oculto{
	display: none;
}


.navbar-default {
	background-color: #5d536c;
	border-color: #726584;
}
.navbar-default .navbar-brand {
	color: #dddae2;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #f9f5ff;
}
.navbar-default .navbar-text {
	color: #dddae2;
}
.navbar-default .navbar-nav > li > a {
	color: #dddae2;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #f9f5ff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #f9f5ff;
	background-color: #726584;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #f9f5ff;
	background-color: #726584;
}
.navbar-default .navbar-toggle {
	border-color: #726584;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #726584;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #dddae2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #dddae2;
}
.navbar-default .navbar-link {
	color: #dddae2;
}
.navbar-default .navbar-link:hover {
	color: #f9f5ff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #dddae2;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #f9f5ff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #f9f5ff;
		background-color: #726584;
	}
}
