<!DOCTYPE html>
<html>
    <head>
        <title>SAGE</title>
         <!-- AQUI DEBER ESTAR BOOTSTRAP -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="../../assets/images/favicon.ico" type= "image/png">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <img src="Sage-Logo.png" alt="Banner" class="col-xs-12">
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- TITLE AND BUTTON COLLAPSER -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sigulabmenu">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                    </div>
                    <!-- COLLAPSABLE MENU -->
                    <div class="collapse navbar-collapse" id="sigulabmenu">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Estacionamientos</a></li>
                            <li><a href="#">Reservar</a></li>
                        </ul>
                    </div><!-- end of collapsable sigulabmenu -->
                </div><!-- end of container-fluid -->
            </nav><!-- end of navbar -->
        </div><!-- end of container -->
        <div class="container">
            <!-- AQUI VA CONTENIDO -->
        </div>
    </body>
</html>
