{% extends 'layout.html' %}
<meta charset="utf-8">

{% block contenido%}
<h1 class="titulo">Nueva Reserva</h1>
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
	{% if ocupado %}
		<p>El estacionamiento {{ estacionamiento }} esta lleno en ese horario, por favor introduzca otro horario de reserva.</p>
	{% endif %}
	<form id="estacionamiento_form" method="post" action="" class="form-horizontal center-block" role="form">
		    {% csrf_token %}			 
		    <div class="fieldWrapper form-group">
				{{ form.horaInicio.errors }}
				{{ form.horaInicio }}
			</div>
			<div class="fieldWrapper form-group">
				{{ form.horaFin.errors }}
				{{ form.horaFin }}
			</div>
			{{ form.estacionamiento }}
			<br/>
			<input class="btn btn-primary" type="submit" name="submit" value="Reservar Puesto"/>
	</form>
	</div>
</div>
{% endblock %}