{% extends 'layout.html' %}
<meta charset="utf-8">
{% block contenido %}
<div class="container">
	<h1 class="titulo">Nuevo Estacionamiento</h1>
	<div class="row">
		<div class="col-lg-3">
		</div>
		<div class="col-lg-6">
		<form id="estacionamiento_form" method="post" action="" class="form-horizontal center-block" role="form">
		    {% csrf_token %}			 
		    {{ form.non_field_errors }}
			{% for field in form %}
				<div class="fieldWrapper form-group">
					{{ field.errors }}
					{{ field.help_text }}
					<input type="text" class="form-control" id={{ field }}</input>
				</div>
			{% endfor %}
			<input class="btn btn-primary" type="submit" name="submit" value="Crear Estacionamiento"/>
		</form>
		</div>
	</div>
</div>
{% endblock %}