{% extends 'layout.html' %}
<meta charset="utf-8">
{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col-lg-3">
		</div>
		<div class="col-lg-6">
			<form id="estacionamiento_form" method="post" action="" class="form-horizontal center-block" role="form">
		    	{% csrf_token %}
	    	 	{{ wizard.management_form }}

	    	 	<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Pagar Reservación</h3>
				  </div>
				  <div class="panel-body">
				    <div class="fieldWrapper form-group">
						{{ form.nombre.errors }}
						{{ form.nombre }}
					</div>
					<div class="fieldWrapper form-group">
							{{ form.cedula.errors }}
							{{ form.cedula }}
					</div>
					<div class="fieldWrapper form-group">
							{{ form.tipoTarjeta.errors }}
							{{ form.tipoTarjeta }}
					</div>
					<div class="fieldWrapper form-group">
							{{ form.numeroTarjeta.errors }}
							{{ form.numeroTarjeta }}
					</div>
				  </div>
				</div>
			<div class="right">
					<input class="btn btn-primary" type="submit" name="submit" value="Crear Estacionamiento"/>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}