{% extends 'layout.html' %}
<meta charset="utf-8">
{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col-lg-3">
		</div>
		<div class="col-lg-6">
			<form id="estacionamiento_form" method="post" action="" class="form-horizontal center-block" role="form">
		    	{% csrf_token %}
	    	 	{{ wizard.management_form }}
	    	 	{% if form.hayPuesto == True %}
	    	 		<p>Hay puesto</p>
	    	 		<div class="right">
						<input class="btn btn-primary" type="submit" name="submit" value="Pagar"/>
					</div>
	    	 	{% else %}
	    	 		<p>No hay puesto</p>
	    	 		<div class="right">
						<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Seleccionar Otro</button>
						</input>
					</div>
    	 		{% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock %}